{% extends "base.html" %}

{% block content %}
    <h1>Products</h1> <!--type h1 then tab: here, we're making cards-->
    <div class="row">
        {% for product in products %} <!--Django tempalte tag, lets you write dynamic code-->
        <div class="col"> <!--each row has columns-->
            <div class="card" style="width: 18rem;"> <!--card-->
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="#" class="btn btn-primary"> Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> <!--type div.row then tab-->
{% endblock %}
